@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

h2 {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 36px;
  line-height: 42px;
  color: #FFFFFF;
}

li {
  list-style: none;
}

.btn {
  display: inline-block;
  text-align: center;
}

.container {
  max-width: 952px;
  width: 100%;
  margin: auto;
}

header {
  padding: 6px 0;
  background-color: #fff;

  .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .header_menu {
    display: flex;
    align-items: center;

    ul {
      display: flex;
      justify-content: space-between;

      li {
        margin-right: 31px;

        &:last-of-type {
          margin-right: 0;
        }
      }
    }
  }

  .btn {
    background: linear-gradient(90deg, #FCCAFF 0%, #FDDEFF 17.19%, #FCD1FF 37.5%, #FCCBFF 76.04%, #FCCAFF 100%);
    box-shadow: 0px 4px 4px rgba(253, 145, 255, 0.36);
    border-radius: 10px;
    padding: 8px 17px;
    color: white;
    margin-left: 65px;
  }
}

//M A I N//
.main {
  background: url(../images/main_banner.png) no-repeat;
  background-size: cover;
  padding-top: 60px;
  padding-bottom: 160px;
position: relative;
  .main_bottom{
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    img{
      width: 100%;
      display: block;
    }
  }
  .main_btn {
    background: linear-gradient(90deg, #FCCAFF 0%, #FDDEFF 17.19%, #FCD1FF 37.5%, #FCCBFF 76.04%, #FCCAFF 100%);
    box-shadow: -4px -4px 10px rgba(251, 182, 255, 0.5), 4px 4px 10px rgba(251, 182, 255, 0.5);
    border-radius: 10px;
    padding: 9px 15px;
    color: white;
    margin-bottom: 40px;
  }

  h2 {
    margin-bottom: 11px;
    margin-left: 19px;
    max-width: 50%;
  }

  p {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    color: #FFFFFF;
    margin-left: 19px;
    max-width: 50%;
    padding-bottom: 88px;
    &:last-of-type{
      font-style: normal;
      font-weight: 700;
      font-size: 14px;
      line-height: 16px;
      color: #FFFFFF;
      padding: 10px;
      background: rgba(251, 182, 255, 0.21);
      border-radius: 10px;
      margin-left: 0;
      &:before{
        font-family: "Font Awesome 6 Free";
        content: "\f004";
        font-weight: 900;
        display: inline-block;
        margin-right: 5px;
        color: #FDCBFF;
      }
    }
  }
}