@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box; }

a {
  text-decoration: none; }

h2 {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 36px;
  line-height: 42px;
  color: #FFFFFF; }

h3 {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  color: #000000; }

li {
  list-style: none; }

.btn {
  display: inline-block;
  text-align: center; }

.container {
  max-width: 952px;
  width: 100%;
  margin: auto; }

header {
  padding: 6px 0;
  background-color: #fff; }
  header .container {
    display: flex;
    justify-content: space-between;
    align-items: center; }
  header .header_menu {
    display: flex;
    align-items: center; }
    header .header_menu nav {
      display: flex;
      align-items: center; }
      header .header_menu nav ul {
        display: flex;
        justify-content: space-between; }
        header .header_menu nav ul li {
          margin-right: 31px;
          border-bottom: solid 2px transparent;
          transition: 0.3s; }
          header .header_menu nav ul li:hover {
            border-bottom: solid 2px #FCCAFF; }
          header .header_menu nav ul li:last-of-type {
            margin-right: 0; }
  header .btn {
    background: linear-gradient(90deg, #FCCAFF 0%, #FDDEFF 17.19%, #FCD1FF 37.5%, #FCCBFF 76.04%, #FCCAFF 100%);
    box-shadow: 3px -3px 4px rgba(253, 145, 255, 0.36);
    border-radius: 10px;
    padding: 8px 17px;
    color: white;
    margin-left: 65px;
    transition: 0.3s; }
    header .btn:hover {
      color: black;
      box-shadow: -3px 4px 4px rgba(253, 145, 255, 0.36); }

.main {
  background: url(../images/main_banner.jpg) no-repeat;
  background-size: cover;
  padding-top: 60px;
  padding-bottom: 160px;
  position: relative; }
  .main .polygon {
    position: absolute;
    width: 50px;
    height: 50px; }
  .main .polygon_1 {
    top: 33px;
    left: 0; }
  .main .polygon_2 {
    left: 165px;
    bottom: 310px;
    transform: rotate(79deg); }
  .main .polygon_3 {
    left: 550px;
    bottom: 333px;
    transform: scale(0.55); }
  .main .polygon_4 {
    right: 70px;
    top: 90px;
    transform: rotate(316deg); }
    .main .polygon_4 img {
      transform: scale(0.55); }
  .main .polygon_5 {
    right: 325px;
    bottom: 90px;
    transform: rotate(28deg); }
    .main .polygon_5 img {
      transform: scale(1.1); }
  .main .main_bottom {
    position: absolute;
    left: 0;
    bottom: -2px;
    width: 100%; }
    .main .main_bottom img {
      width: 100%;
      display: block; }
  .main .main_btn {
    background: linear-gradient(90deg, #FCCAFF 0%, #FDDEFF 17.19%, #FCD1FF 37.5%, #FCCBFF 76.04%, #FCCAFF 100%);
    box-shadow: -4px -4px 10px rgba(251, 182, 255, 0.5), 4px 4px 10px rgba(251, 182, 255, 0.5);
    border-radius: 10px;
    padding: 9px 15px;
    margin-bottom: 40px;
    position: relative;
    max-width: 300px;
    width: 100%;
    text-align: center;
    cursor: pointer;
    transition: 0.3s; }
    .main .main_btn a {
      color: white; }
    .main .main_btn:hover a {
      color: black; }
    .main .main_btn .flower {
      position: absolute;
      bottom: -16px;
      left: -22px;
      width: 40px;
      height: 40px; }
  .main h2 {
    margin-bottom: 11px;
    margin-left: 19px;
    max-width: 50%; }
  .main p {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    color: #FFFFFF;
    margin-left: 19px;
    max-width: 50%;
    padding-bottom: 88px; }
    .main p:last-of-type {
      font-style: normal;
      font-weight: 700;
      font-size: 14px;
      line-height: 16px;
      color: #FFFFFF;
      padding: 10px;
      background: rgba(251, 182, 255, 0.21);
      border-radius: 10px;
      margin-left: 0; }
      .main p:last-of-type:before {
        font-family: "Font Awesome 6 Free";
        content: "\f004";
        font-weight: 900;
        display: inline-block;
        margin-right: 5px;
        color: #FDCBFF; }

.online_program {
  background-color: #fff;
  margin-bottom: 40px; }
  .online_program h3 {
    text-align: center;
    max-width: 470px;
    margin: auto; }
  .online_program .online_steps {
    margin-top: 12px;
    position: relative;
    padding-top: 44px; }
  .online_program .container {
    padding: 0 40px; }
  .online_program .vertical_line {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%, 0);
    width: 1px;
    height: 100%;
    background: #c1c1c1; }
  .online_program .step {
    margin-bottom: 40px;
    display: flex;
    justify-content: space-around;
    position: relative; }
    .online_program .step .left_step {
      text-align: right;
      max-width: 310px;
      width: 100%; }
    .online_program .step .right_step {
      max-width: 310px;
      width: 100%;
      text-align: left; }
    .online_program .step .step_number {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      width: 38px;
      height: 38px;
      background: linear-gradient(90deg, #FCCAFF 0%, #FDDEFF 17.19%, #FCD1FF 37.5%, #FCCBFF 76.04%, #FCCAFF 100%);
      display: flex;
      justify-content: center;
      align-items: center;
      border-radius: 50%; }
      .online_program .step .step_number p {
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 700;
        font-size: 24px;
        line-height: 28px;
        color: black; }
    .online_program .step .title {
      font-family: 'Roboto';
      font-style: normal;
      font-weight: 700;
      font-size: 14px;
      line-height: 16px;
      margin-bottom: 6px;
      margin-right: 0; }
    .online_program .step p {
      font-family: 'Roboto';
      font-style: normal;
      font-weight: 400;
      font-size: 14px;
      line-height: 16px; }

.registration {
  background: url(../images/reg_backgroung.jpg) no-repeat;
  background-size: cover;
  padding: 30px 0;
  position: relative; }
  .registration .reg_cover {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: #000000;
    opacity: 60%; }
  .registration .container {
    position: inherit;
    z-index: 2;
    text-align: center; }
    .registration .container h2 {
      max-width: 520px;
      margin: auto;
      text-align: center; }
    .registration .container a {
      background: linear-gradient(90deg, #FCCAFF 0%, #FDDEFF 17.19%, #FCD1FF 37.5%, #FCCBFF 76.04%, #FCCAFF 100%);
      box-shadow: -4px -4px 10px rgba(251, 182, 255, 0.5), 4px 4px 10px rgba(251, 182, 255, 0.5);
      border-radius: 10px;
      padding: 9px 15px;
      position: relative;
      max-width: 300px;
      width: 100%;
      text-align: center;
      cursor: pointer;
      color: white;
      transition: 0.3s;
      margin-top: 12px; }
      .registration .container a:hover {
        color: black; }

.money_back {
  padding-top: 36px;
  padding-bottom: 57px;
  background-color: #f2f2f2;
  text-align: center; }
  .money_back h3 {
    margin-bottom: 5px; }
  .money_back p {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    color: #000000;
    margin-bottom: 30px; }
  .money_back .percentages {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 0 15px; }
    .money_back .percentages p {
      font-family: 'Roboto';
      font-style: normal;
      font-weight: 400;
      font-size: 14px;
      line-height: 16px;
      color: #000000;
      margin-bottom: 0; }
      .money_back .percentages p:first-of-type {
        margin-top: 10px;
        margin-bottom: 6px;
        font-weight: 700; }
    .money_back .percentages .circle {
      border: 4px solid #c1c1c1;
      border-radius: 50%;
      height: 165px;
      width: 165px;
      margin: auto;
      position: relative; }
    .money_back .percentages .number {
      font-family: 'Roboto';
      font-style: normal;
      font-weight: 400;
      font-size: 48px;
      line-height: 56px;
      color: #989898;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%); }

.marathon {
  overflow: hidden; }
  .marathon .marathon_title {
    background: url(../images/will_know.jpg) no-repeat;
    background-size: cover;
    text-align: center;
    position: relative;
    padding: 8px;
    z-index: 2; }
    .marathon .marathon_title .cover {
      top: 0;
      left: 0;
      position: absolute;
      height: 100%;
      width: 100%;
      background-color: #000000;
      opacity: 60%; }
    .marathon .marathon_title h2 {
      position: relative;
      z-index: 2; }
  .marathon .marathon_content {
    position: relative;
    padding: 60px 0;
    background-color: #f2f2f2; }
    .marathon .marathon_content .background_text {
      position: absolute;
      z-index: 1;
      top: -22px; }
      .marathon .marathon_content .background_text p {
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 700;
        font-size: 144px;
        line-height: 169px;
        color: #ECECEC;
        width: 150%; }
        .marathon .marathon_content .background_text p:first-of-type {
          margin-left: -650px;
          margin-bottom: 185px; }
        .marathon .marathon_content .background_text p:last-of-type {
          margin-left: -50px; }
    .marathon .marathon_content .marathon_body {
      position: relative;
      z-index: 2; }
      .marathon .marathon_content .marathon_body .container .marathon_block {
        max-width: 780px;
        width: 100%;
        margin: auto;
        background-color: #fff; }
      .marathon .marathon_content .marathon_body .container .top_blocks, .marathon .marathon_content .marathon_body .container .bottom_blocks {
        display: flex;
        justify-content: center;
        flex-wrap: wrap; }
        .marathon .marathon_content .marathon_body .container .top_blocks p, .marathon .marathon_content .marathon_body .container .bottom_blocks p {
          font-family: 'Roboto';
          font-style: normal;
          font-weight: 400;
          font-size: 14px;
          line-height: 16px;
          text-align: right;
          color: #000000;
          max-width: 150px;
          width: 100%; }
      .marathon .marathon_content .marathon_body .container .top_blocks .understand_body {
        width: 50%;
        display: flex;
        align-items: center;
        justify-content: space-between; }
        .marathon .marathon_content .marathon_body .container .top_blocks .understand_body img {
          display: block;
          width: 100%; }
        .marathon .marathon_content .marathon_body .container .top_blocks .understand_body p {
          margin-left: 5px;
          margin-right: 25px; }
      .marathon .marathon_content .marathon_body .container .top_blocks .meal_plan {
        width: 50%;
        display: flex;
        align-items: center;
        justify-content: space-between; }
        .marathon .marathon_content .marathon_body .container .top_blocks .meal_plan p {
          text-align: left;
          padding-left: 10px;
          margin-left: 5px;
          margin-right: 25px; }
      .marathon .marathon_content .marathon_body .container .bottom_blocks .motivation {
        width: 50%;
        display: flex;
        align-items: center;
        justify-content: space-between; }
        .marathon .marathon_content .marathon_body .container .bottom_blocks .motivation p {
          margin-left: 25px;
          margin-right: 5px;
          text-align: left; }
        .marathon .marathon_content .marathon_body .container .bottom_blocks .motivation img {
          display: block; }
      .marathon .marathon_content .marathon_body .container .bottom_blocks .healthy_food {
        width: 50%;
        display: flex;
        align-items: center; }
        .marathon .marathon_content .marathon_body .container .bottom_blocks .healthy_food p {
          padding-right: 10px;
          text-align: left;
          margin-left: 25px;
          margin-right: 5px; }

.reviews .reviews_title {
  background: url(../images/will_know.jpg) no-repeat;
  background-size: cover;
  text-align: center;
  position: relative;
  padding: 8px;
  box-shadow: 5px -4px 7px #888888; }
  .reviews .reviews_title .cover {
    top: 0;
    left: 0;
    position: absolute;
    height: 100%;
    width: 100%;
    background-color: #000000;
    opacity: 60%; }
  .reviews .reviews_title h2 {
    position: relative;
    z-index: 2; }
.reviews .review_content {
  background-color: #fff;
  padding: 50px 0; }
  .reviews .review_content .container .review {
    display: flex;
    margin-bottom: 15px;
    justify-content: center; }
    .reviews .review_content .container .review:last-of-type {
      margin-bottom: 0; }
    .reviews .review_content .container .review .user {
      margin-top: 23px;
      margin-right: 15px;
      height: 72px;
      width: 72px;
      border-radius: 50px;
      overflow: hidden; }
      .reviews .review_content .container .review .user img {
        display: block; }
    .reviews .review_content .container .review .review_block {
      position: relative; }
      .reviews .review_content .container .review .review_block img {
        display: block; }
      .reviews .review_content .container .review .review_block .review_text {
        position: absolute;
        top: 28px;
        left: 58px;
        max-width: 550px; }
        .reviews .review_content .container .review .review_block .review_text .user_name {
          margin-bottom: 5px;
          font-weight: 700; }

.program_options {
  background: url(../images/program_opt.png) no-repeat;
  background-size: cover;
  padding-top: 115px;
  padding-bottom: 185px;
  text-align: center;
  position: relative;
  overflow: hidden; }
  .program_options .b_triangle {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 0;
    border-style: solid;
    border-width: 0 0 333px 5000px;
    border-color: transparent transparent #ffffff transparent; }
  .program_options h2 {
    color: black;
    font-weight: 700;
    margin-bottom: 77px; }
  .program_options .cards {
    display: flex;
    justify-content: space-between;
    position: relative;
    z-index: 2;
    flex-wrap: wrap; }
    .program_options .cards .card {
      max-width: 270px;
      width: 100%;
      transition: 0.5s;
      background: url(../images/card.jpg) no-repeat;
      background-size: cover;
      cursor: pointer;
      padding: 22px 33px;
      display: flex;
      flex-direction: column;
      justify-content: space-between; }
      .program_options .cards .card:hover {
        transform: scale(1.2); }
      .program_options .cards .card h3 {
        color: white;
        padding-bottom: 5px;
        border-bottom: #FFFFFF solid 1px; }
      .program_options .cards .card p {
        margin-top: 14px;
        margin-bottom: 63px;
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 400;
        font-size: 10px;
        line-height: 12px;
        color: #FFFFFF;
        text-align: left; }
      .program_options .cards .card .btn {
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 700;
        font-size: 14px;
        line-height: 16px;
        color: #FFFFFF;
        text-shadow: 0px 1px 1px rgba(0, 0, 0, 0.25);
        display: inline-block;
        text-align: center;
        padding: 10px;
        background: linear-gradient(90deg, #FCCAFF 0%, #FDDEFF 17.19%, #FCD1FF 37.5%, #FCCBFF 76.04%, #FCCAFF 100%);
        box-shadow: 0px 4px 4px rgba(253, 145, 255, 0.36);
        border-radius: 10px;
        transition: 0.3s;
        max-width: 240px;
        width: 100%; }
        .program_options .cards .card .btn:hover {
          color: #828282;
          text-shadow: none; }

footer {
  background-color: #fff; }
  footer .footer_content {
    display: flex;
    justify-content: center; }
    footer .footer_content .footer_text {
      padding-top: 30px;
      max-width: 475px;
      position: relative; }
      footer .footer_content .footer_text h2 {
        color: black;
        font-weight: 700;
        margin-bottom: 60px; }
      footer .footer_content .footer_text img {
        display: inline-block;
        position: absolute;
        right: 0;
        top: 110px; }
      footer .footer_content .footer_text h3 {
        font-weight: 400; }

.hamburger {
  display: none; }

/*# sourceMappingURL=style.css.map */
